$background-color: #f4f4f6;
$item-background-color: #e6e6e9;
$button-color: #9999a1;
$highlight-color: #70161e;
$body-color: #0f110c;

// main styles
body {
  color: $body-color;
  background: $background-color;
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, footer {
  background: $background-color;
  border-top: 1px $highlight-color solid;
  padding: 1em;
}

#main {
  margin: 1em;
}

a {
  text-decoration: none;
  color: $highlight-color;
}

// items
ul {
  list-style: none;
  padding-left: 0;
}

.item {
  display: flex;
  align-items: center;
  background: $item-background-color;
  list-style-type: none;
  padding-left: 1em;
  border-radius: 5px;
  margin-bottom: 0.2em;
  overflow: hidden;
  z-index: -1;
}

.item span {
  margin-right: 2em;
}

.selected {
  border: 1px solid $highlight-color;
  margin-bottom: calc(0.2em - 2px);
}

// input fields
input[type=text] {
  border: none;
  border-bottom: 0.2em solid $highlight-color;
  height: 1em;
  padding: 1em;
  font-size: 1em;
  border-radius: 5px;
  width: calc(100% - 2em);
}

.item input[type=text] {
  width: 50%;
  height: 0.8em;
  font-size: 0.8em;
}

button {
  border: none;
  color: $button-color;
  background: $background-color;
  font-size: 1em;
  padding: 1em;
  border-radius: 5px;
  margin: 0.5em;
}

.item button {
  margin-left: 0.5em;
  font-size: 1em;
  padding: 0.5em;
  width: 3em;
  z-index: 1;
}

.item button svg {
  height: 1em;
  width: 1em;
  z-index: 1;
}

.item input {
  z-index: 1;
}